<div class="row">
  <div class="col-lg-3 col-md-12 article-categories">
    <div class="card">
      <div class="card-body borderless">
        <h5 class="card-title d-flex justify-content-between">
          <span class="title">CATEGORIES</span>
          <div class="dropdown">
            <button class="btn btn-info btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img class="dropdown-icon gear" src="../assets/img/icon-gear.png">
              &nbsp;
              <img class="dropdown-icon arrow-expand" src="../assets/img/icon-arrow-expand.png">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="javascript:;">New Project</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:;">Pending</a>
              <a class="dropdown-item" href="javascript:;">Completed</a>
              <a class="dropdown-item" href="javascript:;">Overdue</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:;">Archived Projects</a>
            </div>
          </div>
        </h5>
        <hr>
        <a href="javascript:;" class="list-group-item list-group-item-action borderless">
          <div class="row">
            <div class="col-9">
              New
            </div>
            <div class="col-3 text-right">
              <span class="badge badge-primary badge-pill">6</span>
            </div>
          </div>
        </a>
        <a href="javascript:;" class="list-group-item list-group-item-action borderless">
          <div class="row">
            <div class="col-9">
              Coach
            </div>
            <div class="col-3 text-right">
              <span class="badge badge-info badge-pill">2</span>
            </div>
          </div>
        </a>
        <a href="javascript:;" class="list-group-item list-group-item-action borderless">
          <div class="row">
            <div class="col-9">
              Manager
            </div>
            <div class="col-3 text-right">
              <span class="badge badge-info badge-pill">3</span>
            </div>
          </div>
        </a>
        <a href="javascript:;" class="list-group-item list-group-item-action borderless">
          <div class="row">
            <div class="col-9">
              Outside
            </div>
            <div class="col-3 text-right">
              <span class="badge badge-secondary badge-pill">14</span>
            </div>
          </div>
        </a>
        <a href="javascript:;" class="list-group-item list-group-item-action borderless">
          <div class="row">
            <div class="col-9">
              Inside
            </div>
            <div class="col-3 text-right">
              <span class="badge badge-primary badge-pill">6</span>
            </div>
          </div>
        </a>
        <a href="javascript:;" class="list-group-item list-group-item-action borderless">
          <div class="row">
            <div class="col-9">
              At work
            </div>
            <div class="col-3 text-right">
              <span class="badge badge-danger badge-pill">2</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-12 article-situations">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">
          <span class="title">SITUATIONS</span>
          <div class="dropdown">
            <button class="btn btn-info btn-sm" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img class="dropdown-icon gear" src="../assets/img/icon-plus.png">
              Add
              <img class="dropdown-icon arrow-expand" src="../assets/img/icon-arrow-expand.png">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <a class="dropdown-item" href="javascript:;">New Situation</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:;">Coach</a>
              <a class="dropdown-item" href="javascript:;">At Work</a>
              <a class="dropdown-item" href="javascript:;">Outside</a>
              <a class="dropdown-item" href="javascript:;">Inside</a>
            </div>
          </div>
        </h5>
        <hr>
        <div class="row">
          <div class="col-sm-5 col-xs-12">
            <div class="list-group">
              <a href="javascript:;"
                class="list-group-item list-group-item-action flex-column align-items-start list-article-link borderless">
                <div class="list-article list-article-info">
                  <div class="d-flex w-100 justify-content-between">
                    <span class="mb-1 list-article-title">
                      <img src="../assets/img/icon-user-placeholder.png" class="list-article-userpic">Arthur Subileau
                    </span>
                  </div>
                  <p class="mb-1 list-article-body">Crise de stress dans le bus en allant au travail.</p>
                  <img src="../assets/img/icon-calendar.png" class="icon-calendar">
                  <small class="text-muted">21 Sep 2014</small>
                  <span class="badge badge-secondary article-badge">Urgent</span>
                </div>
              </a>
              <a href="javascript:;"
                class="list-group-item list-group-item-action flex-column align-items-start list-article-link borderless">
                <div class="list-article list-article-danger">
                  <div class="d-flex w-100 justify-content-between">
                    <span class="mb-1 list-article-title">
                      <img src="../assets/img/icon-user-placeholder.png" class="list-article-userpic">Lisa Dupont
                    </span>
                  </div>
                  <p class="mb-1 list-article-body">Crise de stress en faisant la queue à la caisse du supermarché.</p>
                  <img src="../assets/img/icon-calendar.png" class="icon-calendar">
                  <small class="text-muted">14 Sep 2014</small>
                  <span class="badge badge-secondary article-badge">Urgent</span>
                  <span class="badge badge-secondary article-badge">Important</span>
                </div>
              </a>
              <a href="javascript:;"
                class="list-group-item list-group-item-action flex-column align-items-start list-article-link borderless">
                <div class="list-article list-article-info">
                  <div class="d-flex w-100 justify-content-between">
                    <span class="mb-1 list-article-title">
                      <img src="../assets/img/icon-user-placeholder.png" class="list-article-userpic">Valentin Peyron
                    </span>
                  </div>
                  <p class="mb-1 list-article-body">Situation de stress avant une présentation devant mes collègues.</p>
                  <img src="../assets/img/icon-calendar.png" class="icon-calendar">
                  <small class="text-muted">10 Feb 2015</small>
                  <span class="badge badge-secondary article-badge">Important</span>
                </div>
              </a>
              <a href="javascript:;"
                class="list-group-item list-group-item-action flex-column align-items-start list-article-link borderless">
                <div class="list-article list-article-info">
                  <div class="d-flex w-100 justify-content-between">
                    <span class="mb-1 list-article-title">
                      <img src="../assets/img/icon-user-placeholder.png" class="list-article-userpic">Arthur Subileau
                    </span>
                  </div>
                  <p class="mb-1 list-article-body">Crise de stress dans le bus en allant au travail.</p>
                  <img src="../assets/img/icon-calendar.png" class="icon-calendar">
                  <small class="text-muted">21 Sep 2014</small>
                  <span class="badge badge-secondary article-badge">Urgent</span>
                </div>
              </a>
              <a href="javascript:;"
                class="list-group-item list-group-item-action flex-column align-items-start list-article-link borderless">
                <div class="list-article list-article-danger">
                  <div class="d-flex w-100 justify-content-between">
                    <span class="mb-1 list-article-title">
                      <img src="../assets/img/icon-user-placeholder.png" class="list-article-userpic">Lisa Dupont
                    </span>
                  </div>
                  <p class="mb-1 list-article-body">Crise de stress en faisant la queue à la caisse du supermarché.</p>
                  <img src="../assets/img/icon-calendar.png" class="icon-calendar">
                  <small class="text-muted">14 Sep 2014</small>
                  <span class="badge badge-secondary article-badge">Important</span>
                </div>
              </a>
              <a href="javascript:;"
                class="list-group-item list-group-item-action flex-column align-items-start list-article-link borderless">
                <div class="list-article list-article-info">
                  <div class="d-flex w-100 justify-content-between">
                    <span class="mb-1 list-article-title">
                      <img src="../assets/img/icon-user-placeholder.png" class="list-article-userpic">Valentin Peyron
                    </span>
                  </div>
                  <p class="mb-1 list-article-body">Situation de stress avant une présentation devant mes collègues.</p>
                  <img src="../assets/img/icon-calendar.png" class="icon-calendar">
                  <small class="text-muted">10 Feb 2015</small>
                  <span class="badge badge-secondary article-badge">Important</span>
                </div>
              </a>
            </div>

          </div>
          <div class="col-sm-7 col-xs-12">
            <div class="row">
              <span class="article-title">
                <a href="javascript:;">
                  <img src="../assets/img/icon-user-placeholder.png" class="article-userpic">
                </a>Arthur Subileau
              </span>
            </div>
            <div class="row">
              <span class="article-body">Crise de stress dans le bus en allant au travail.</span>
            </div>
            <div class="row">
              <img src="../assets/img/icon-calendar.png" class="icon-calendar">
              <small class="text-muted">21 Sep 2014</small>
              <span class="badge badge-secondary article-badge">Urgent</span>
            </div>
            <div class="text-right">
              <button class="btn btn-outline-secondary btn-sm btn-rounded">Handled</button>
            </div>
            <br>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active"
                  href="javascript:;">Comments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  href="javascript:;">History</a>
              </li>
            </ul>
            <br>
            <!-- article-comments != article-comment -->
            <div id="article-comments-container">
              <div class="article-comment">
                <span class="mb-1 list-article-title">
                  <a href="javascript:;">
                    <img src="../assets/img/icon-user-placeholder.png" class="list-article-userpic">
                  </a>Gabrielle Marchal
                  <small>17 Sep 2014 at 2:05pm</small>
                </span>
                <br>
                <div class="article-comment-body">
                  Essaye de mettre ton casque anti-bruit, de fermer les yeux et de t'imaginer dans un endroit que tu
                  aimes.
                </div>
                <div class="article-comment">
                  <span class="mb-1 list-article-title">
                    <a href="javascript:;">
                      <img src="../assets/img/icon-user-placeholder.png" class="list-article-userpic">
                    </a>Arthur Subileau
                    <small>17 Sep 2014 at 4:30pm</small>
                  </span>
                  <br>
                  <div class="article-comment-body">
                    J'ai fais ça et ça m'a beaucoup aidé merci !
                  </div>
                </div>
              </div>
              <div class="article-comment">
                <span class="mb-1 list-article-title">
                  <a href="javascript:;">
                    <img src="../assets/img/icon-user-placeholder.png" class="list-article-userpic">
                  </a>Nathalie Lemaître
                  <small>18 Sep 2014 at 11:50am</small>
                </span>
                <br>
                <div class="article-comment-body">
                  La prochaine fois essaye peut être de venir par un autre moyen de transport qui te conviendrait mieux
                  comme le vélo par exemple.
                </div>
              </div>
              <div class="article-comment">
                <form>
                  <div class="form-group mb-2">
                    <span class="list-article-title">
                      <a href="javascript:;">
                        <img src="../assets/img/icon-user-placeholder.png" class="list-article-userpic mb-2">
                      </a>Moi
                    </span>
                    <textarea class="form-control" rows="3" placeholder="Type comment..."></textarea>
                  </div>
                  <div class="text-right">
                    <button class="btn btn-info btn-sm btn-rounded text-white" type="submit">Submit</button>
                  </div>
                </form>
              </div>
            </div>
            <div id="article-history-container">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
