
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body borderless">
                    <h5 class="card-title d-flex justify-content-between">
                        <span class="title">CATEGORIES</span>
                        <div class="dropdown">
                            <button class="btn btn-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="dropdown-icon gear" src="../assets/img/icon-gear.png">
                                    &nbsp;
                                <img class="dropdown-icon arrow-expand" src="../assets/img/icon-arrow-expand.png">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </h5>
                    <hr>
                    <a href="javascript:;" class="list-group-item d-flex justify-content-between list-group-item-action borderless">
                        New<span class="badge badge-primary badge-primary badge-pill">6</span>
                    </a>
                    <a href="javascript:;" class="list-group-item d-flex justify-content-between list-group-item-action borderless">
                        Coach<span class="badge badge-info badge-pill">2</span>
                    </a>
                    <a href="javascript:;" class="list-group-item d-flex justify-content-between list-group-item-action borderless">
                        Manager<span class="badge badge-info badge-pill">3</span>
                    </a>
                    <a href="javascript:;" class="list-group-item d-flex justify-content-between list-group-item-action borderless">
                        Outside<span class="badge badge-secondary badge-pill">14</span>
                    </a>
                    <a href="javascript:;" class="list-group-item d-flex justify-content-between list-group-item-action borderless">
                        Inside<span class="badge badge-primary badge-pill">6</span>
                    </a>
                    <a href="javascript:;" class="list-group-item d-flex justify-content-between list-group-item-action borderless">
                        At work<span class="badge badge-danger badge-pill">2</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span class="title">SITUATIONS</span></h5>
                    <hr>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>