<div class="row ml-0 vh-100 vw-100 overflow-hidden">
  <div class="col position-relative ml-5 mr-5">
    <!-- Logo de l'entreprise  -->
    <div class="row mb-5 mt-5">
      <img src="../../assets/img/logo-Asperteam-2.png">
    </div>

    <div id="formulaire">
      <!-- En-tête du formulaire -->
      <div class="row mb-5">
          <h1>Asperteam Admin Login</h1>
          <div class="mt-2">Le backoffice d'Asperteam permet la gestion des utilisateur du dispositif créé par Asperteam ainsi que
            l'accès à des statistiques essentiels pour amélirorer le bien être des employés.</div>
      </div>

      <!-- Champs à remplir pour se connecter  -->
      <div class="row justify-content-center mt-3">
        <input class="text-center col-5 mr-2" type="text" autocomplete="off" placeholder="Username" name="username" required />
        <input class="text-center col-5 ml-2" type="password" autocomplete="off" placeholder="Password" name="password" required />
      </div>

      <!-- Se souvenir de l'utilisateur et bouton connexion  -->
      <div class="row justify-content-center mt-4">
        <label class="rememberme">
          <input type="checkbox" name="remember" value="1" />
          <span>Remember me</span>
        </label>
      </div>
      <div class="row justify-content-center mt-3">
        <a href="#">Forgot Password ?</a>
      </div>
      <div class="row justify-content-center mt-3">
        <button type="button" class="btn btn-primary" routerLink="/accueil">Sign In !</button>
      </div>
    </div>

    <!-- Footer avec les liens vers les réseaux sociaux  -->
    <div class="row position-absolute w-100 pb-5 pr-5" style="bottom: 0;">
      <div class="col text-center">
        <span>Zone d'icône</span>
      </div>
      <div class="col text-center">
        <span>Copyright © Keenthemes 2015</span>
      </div>
    </div>
  </div>



  <!-- Partie Droite avec les images  -->
  <div class="col position-relative">
    <img [@activeDesactive]="images[0] ? 'active' : 'desactive'" class="vh-100 position-absolute"
      src="../../assets/img/bg1.jpg" style="z-index: 1;">
    <img [@activeDesactive]="images[1] ? 'active' : 'desactive'" class="vh-100 position-absolute"
      src="../../assets/img/bg2.jpg" style="z-index: 2;">
    <img [@activeDesactive]="images[2] ? 'active' : 'desactive'" class="vh-100 position-absolute"
      src="../../assets/img/bg3.jpg" style="z-index: 3;">
    <img [@activeDesactive]="images[3] ? 'active' : 'desactive'" class="vh-100 position-absolute"
      src="../../assets/img/bg4.jpg" style="z-index: 4;">
  </div>
</div>
