<body class="bg-dark">
  <div class="core-block">
    <nav class="navbar navbar-dark bg-dark w-100 p-3">
      <div class="row d-inline-block mr-0 ml-0 vw-100">
        <img [@openClose]="open ? 'open' : 'close'" src="../assets/img/logo.png" alt="logoMetronic" class="mr-5">
        <img src="../assets/img/sidebar-toggler-inverse.png" alt="menuNavbar" (click)="openClose()"
          [ngClass]="{'ml-5': open}" id="menu">
      </div>
    </nav>
    <div class="content">
      <div class="bg-dark">
        <div class="listeIcone" [ngClass]="{ 'active': open }">
          <ul style="list-style-type: none; padding: 0;">

            <li>
              <i class="material-icons icon" [ngClass]="{ 'desactive': open }">
                search
              </i>
              <input type="text" placeholder="Search" [ngClass]="{ 'up': open }" class="search">
            </li>
            <li routerLink="/accueil">

              <i class="material-icons">
                home
              </i>
              <span class="textMenu" [ngClass]="{ 'up': open }">Home</span>
            </li>

            <li>
              <h3 [ngClass]="{ 'up': open }">USER MANAGEMENT</h3>
            </li>

            <li>
              <i class="material-icons">
                person
              </i>
              <span class="textMenu" [ngClass]="{ 'up': open }">User</span>
            </li>

            <li>
              <h3 [ngClass]="{ 'up': open }">STATISTIC</h3>
            </li>

            <li>
              <i class="material-icons">
                trending_up
              </i>
              <span class="textMenu" [ngClass]="{ 'up': open }">Charts</span>
            </li>

            <li>
              <h3 [ngClass]="{ 'up': open }">CONTENT</h3>
            </li>

            <li routerLink="/accueil/situation">
              <i class="material-icons">
                settings
              </i>
              <span class="textMenu" [ngClass]="{ 'up': open }">Situations</span>
            </li>

            <li routerLink="/accueil/theme">
              <i class="material-icons">
                collections
              </i>
              <span class="textMenu" [ngClass]="{ 'up': open }">Thèmes</span>
            </li>

            <li>
              <i class="material-icons">
                work
              </i>
              <span class="textMenu" [ngClass]="{ 'up': open }">Exercices</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark w-100 bg-dark">
      <span class="navbar-brand mb-0 text-footer">2016 © Metronic Theme By <a href="#">Keenthemes</a> | <a
          href="#">Purchase
          Metronic!</a></span>
    </nav>
  </div>
</body>
