<h3>THEME CONTENT</h3>
<div class="row">
  <div class="col-5">
    <div class="card">
      <div class="block-theme">
        <div class="theme-header">
          <h4>THEMES</h4>
          <button class="btn-green">Add theme</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="card">
      <div class="block-etape">
        <div class="theme-header">
          <h4><span>ÉTAPES: </span>RELATIONS AUX AUTRES</h4>
          <button class="btn-red">Nouvelle étape</button>
        </div>
      </div>
    </div>
  </div>
</div>
