.row {
  font-family: "Open Sans", sans-serif;
  animation: loading;
  animation-duration: 2s;
  margin: 0;
  position: relative;
}

.row span,
a {
  color: #868e97;
  text-decoration: none;
}

.row h1 {
  color: #4e5a64;
  font-size: 30px;
  font-weight: 300;
}

input {
  border: none;
  border-bottom: 1px solid #a0a9b4;
  padding: 5px 0;
  outline: none;
}


@keyframes loading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
